<% var data = { title: "Каталог - крышки | АО НЗИВ", author: "Mathetes" }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<!-- Page Content -->
<div class="container wrapper">
  <div class="row align-items-top my-5">
    <div class="col-sm-12 col-lg-3 mediasize">
      <%= _.template(require('./../includes/sidebar.html').default)(data) %>
    </div>

    <div class="col-sm-12 col-lg-9">
      <h2 class="product__heading animate__animated animate__backInDown">Контейнеры для медицинских отходов</h2>
      
      <div class="card card-block">
        <a class="card-title" href="container065.html">
          <img
            class="card-img-top"
            src="../../img/products/container065.jpg"
            alt="Контейнер 0,65 л"
          />
          <div class="card-body product-props">
            <h5 class="card-title">Контейнер 0,65 л. для мед. отходов</h5>
          </div>
        </a>
      </div> 

      <div class="card card-block">
        <a class="card-title" href="container11.html">
          <img
            class="card-img-top"
            src="../../img/products/container11cover.jpg"
            alt="Контейнер 3 л"
          />
          <div class="card-body product-props">
            <h5 class="card-title">Контейнер 1,1 л. для мед. отходов</h5>
          </div>
        </a>
      </div> 

      <div class="card card-block">
        <a class="card-title" href="container11cover.html">
          <img
            class="card-img-top"
            src="../../img/products/container11cover.jpg"
            alt="Контейнер 3 л"
          />
          <div class="card-body product-props">
            <h5 class="card-title">Контейнер 1,1 для сбора острых мед.отходов</h5>
          </div>
        </a>
      </div> 

      <div class="card card-block">
        <a class="card-title" href="container3.html">
          <img
            class="card-img-top"
            src="../../img/products/container3cover.jpg"
            alt="Контейнер 3 л"
          />
          <div class="card-body product-props">
            <h5 class="card-title">Контейнер 3 л. для мед. отходов</h5>
          </div>
        </a>
      </div> 

      <div class="card card-block">
        <a class="card-title" href="container55.html">
          <img
            class="card-img-top"
            src="../../img/products/container55cover.jpg"
            alt="Контейнер 5 л"
          />
          <div class="card-body product-props">
            <h5 class="card-title">Контейнер 5,5 л. для мед. отходов</h5>
          </div>
        </a>
      </div>

      <div class="card card-block">
        <a class="card-title" href="container10.html">
          <img
            class="card-img-top"
            src="../../img/products/container10cover.jpg"
            alt="Контейнер 10 л"
          />
          <div class="card-body product-props">
            <h5 class="card-title">Контейнер 10 л. для мед. отходов</h5>
          </div>
        </a>
      </div>

      <div class="card card-block">
        <a class="card-title" href="container21.html">
          <img
            class="card-img-top"
            src="../../img/products/container21cover.jpg"
            alt="Контейнер 21 литр"
          />
          <div class="card-body product-props">
            <h5 class="card-title">Контейнер 21 л. для мед. отходов</h5>
          </div>
        </a>
      </div>

    <div class="card card-block">
        <a class="card-title" href="container32.html">
        <img
          class="card-img-top"
          src="../../img/products/container32cover.jpg"
          alt="Бак 32 л"
        />
        <div class="card-body product-props">
          <h5 class="card-title">Контейнер 32 л. для мед. отходов</h5>
        </div>
      </a>
      </div>

    </div>
  </div>
</div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %> 
